.dashboard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    margin: 100px 0 100px 0;
}

.profileHeader {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 15px 10px 0 0;
}

.headerMenu {
    display: flex;
    padding-top: 5px;
}

.headerMenu > * {
    height: min-content;
}

.headerTitle {
    font-family: var(--titleFont);
    font-size: 2em;
    flex-grow: 1;
    text-align: left;
    padding-left: 15px;
}

.iconColor {
    color: black;
}

.menuButton {
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown {
    display: flex;
}

#btnAddProject {
    width: 150px;
}

.dropdown-menu {
    cursor: pointer;
}

.emptyDashboardMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.imgEmptyDashboard {
    content: url('../../res/emptyDashboard.svg');
    width: 350px;
    aspect-ratio: 1009 / 789;
}

.lblEmptyDashboard {
    font-size: 1.5em;
    margin-top: 10px;
}

#btnAddProjectEmpty {
    margin-top: 10px;
    width: 200px;
}

#iconPlus {
    margin-right: 8px;
}
