@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');

:root {
    --backgroundColor: #1e0d57;
    --titleFont: 'Oregano', cursive;
    --dirtyWhiteColor: rgb(230, 230, 230);
    --standardTransition: height 1s ease, opacity 1s ease;
}

html, body {
    margin: 0;
    overflow-x: hidden;
}

/* Remove scrollbar */
::-webkit-scrollbar {
    width: 0;
}

input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: white;
    text-align: center;
}

img {
    border: 0;
}

button, input {
    min-height: 38px;
}

.btn.btn-light {
    border: 1px solid var(--dirtyWhiteColor);
}

.statusIcon {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.toast {
    position: absolute;
    bottom: 20px;
    right: 20px;
    min-width: 400px;
}

.manager {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#473585 0vh, #311F6F 33vh, #11053D 66vh, #090122 100vh);
    background-attachment: scroll;
}