@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');

:root {
    --backgroundColor: #1e0d57;
    --titleFont: 'Oregano', cursive;
    --dirtyWhiteColor: rgb(230, 230, 230);
    --standardTransition: height 1s ease, opacity 1s ease;
}

html,
body {
    margin: 0;
    overflow-x: hidden;
}

body {
    height: 100vh;
    background: repeating-linear-gradient(#473585, #311f6f, #11053d, #090122);
    background-attachment: fixed;
}

/* Remove scrollbar */
::-webkit-scrollbar {
    width: 0;
}

input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: white;
    text-align: center;
}

img {
    border: 0;
}

button,
input {
    min-height: 38px;
}

.btn.btn-light {
    border: 1px solid var(--dirtyWhiteColor);
}

.statusIcon {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.toast {
    position: absolute;
    bottom: 20px;
    right: 20px;
    min-width: 400px;
}

.btnModal {
    width: 100px;
}

.manager {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.spinnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.spinnerAnimation {
    color: white;
    width: 2em;
    height: 2em;
    margin-bottom: 20px;
}

.loadingTitle {
    font-size: 2em;
    font-family: var(--titleFont);
}
